.container {
  text-align: center;
  padding: 5rem 4rem;

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: $black;
    margin-bottom: 1.7rem;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    color: $gray;
  }

  .shoesList {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    justify-content: space-evenly;
  }
}
