// @import "../../assets/styles/variables.scss";

.header {
  text-align: center;
}

.highlight {
  background: $blue;
  padding: 2rem;
  color: $white;

  span {
    font-weight: 600;
  }
}

.title {
  padding: 1rem 0;
}
