// Colors
$purple: #6c63ff !default;
$light-purple: #d7d4ff !default;
$black: #181818 !default;
$dark-10: #2a2a2a !default;
$gray: #474747 !default;
$bg: #ebe9ea !default;
$white: #ffff !default;
$blue: #2962ff !default;
